@import 'resethtml5.css';
@import url('https://fonts.googleapis.com/css?family=Yesteryear');

body {
    font-family: serif;
    font-size: 16px;
    line-height: 24px;
}

/* 
--------------------------------
HEADER
--------------------------------
*/
header#hc--header {
    padding: 8px 0;
}

/* Logo */
div#hc--logo { 
    float: left; 
}

/* header aside */
.hc--header-aside {
    float: right;
}

.hc--header-aside-info {
    margin: 13px 0 0;
}

.hc--header-aside-info .info-wrap {
    display: table;
    width: 100%;
    overflow: hidden;
}

.hc--header-aside-info .info-i,
.hc--header-aside-info .info-c {
    display: table-cell;
    vertical-align: middle;
}

.hc--header-aside-info .info-i {
    padding-right: 10px;
}

.hc--header-aside-info .info-c .subtitle {
    font-size: 25px;
    font-weight: 600;
    color: #795a43;
}

/* Navigation */
.hc--navigation {
    background-color: #614632;
    color: #fff;
}

nav#hc--main-nav ul { 
    list-style: none; 
}

nav#hc--main-nav ul li { 
    position: relative; 
}

nav#hc--main-nav > ul > li { 
    display: inline-block;  
    line-height: 50px; 
}

nav#hc--main-nav > ul > li > a { 
    color: #fff; 
    text-decoration: none; 
    display: block;
    padding: 0 15px; 
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

/* 
--------------------------------
MAIN CONTENT
--------------------------------
*/

/* Reset title */
.hc--heading-wrap {
    text-align: center;
    font-size: 30px;
    background: url(../images/title-bottom-line.png) no-repeat bottom center;
    margin: 0 0 30px;
}

.hc--heading-wrap .title {
    font-size: 20px;
}

.hc--heading-wrap .subtitle {
    padding-bottom: 30px;
    text-transform: uppercase;
    padding-top: 5px;
}

.hc--heading-wrap.text-white,
.hc--heading-wrap.text-white .title,
.hc--heading-wrap.text-white .subtitle {
    color: #fff;
}

/* Reset box */
.hc--about-section,
.hc--industry-news {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #F9F1DA;
}

.about-wrap,
.news-wrap {
    background-color: #fff;
    overflow: hidden;
}

.about-wrap  .about-cont,
.news-wrap .news-cont {
    overflow: hidden;
    padding: 0 30px;
    position: relative;
}

.about-wrap .about-cont .icon,
.news-wrap .news-cont .icon {
    position: absolute;
    top: 0;
    right: 30px;
    width: 60px;
    height: 89px;
    z-index: 1;
}

.about-wrap .about-cont .title-wrap,
.news-wrap .news-cont .title-wrap {
    padding: 40px 0 5px;
    margin-bottom: 30px;
    font-size: 30px;
    border-bottom: 1px solid #dbdbdb;
}

.about-wrap .about-cont .title-wrap .title,
.news-wrap .news-cont .title-wrap .title {
    margin-bottom: 5px
} 

.about-wrap .about-cont .title-wrap .subtitle,
.news-wrap .news-cont .title-wrap .subtitle  {
    font-size: 20px;
}

.about-wrap .about-cont .btn-view-more {
    display: inline-block;
    padding: 0 50px;
    line-height: 35px;
    text-decoration: none;
    border: 1px solid #795A43;
    margin: 50px 0;
}

/* Row Bannr */
.hc--h-banner {
    width: 100%;
    overflow: hidden;
    background: url(../images/banner.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    color: #fff;
    padding: 150px 0 160px;
    text-align: center;
    z-index: 1;
    max-height: 300px;
}
.hc--h-banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    opacity: .7;
    height: 100%;
    z-index: -1;
}

.hc--h-banner .hcj-team {
    font-size: 40px;
    margin: 0 0 15px;
}

.hc--h-banner .subtitle {
    font-size: 30px;
}

/* Row About */
.about-wrap .about-image {
    float: left;
    width: 40%;
    min-height: 430px;
}

/* Row Company Dinamics */
.hc--company-dynamics {
    padding-top: 40px;
    padding-bottom: 10px;
    background: url(../images/news_bg.jpg) no-repeat center center;
    background-size: cover;
    z-index: 1;
    position: relative;
}

.hc--company-dynamics::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.8;
    z-index: -1;
}

/* News List */
.news-list {
    margin: 0 0 10px;
}

.news-list .news-item {
    background: #fff;
    float: left;
    width: calc((100% - 30px) / 2);
    margin: 0 30px 30px 0;
    padding: 15px;
    box-sizing: border-box;
}

.news-list .news-item:nth-child(even) {
    margin-right: 0;
}

.news-list .news-item .img {
    width: 150px;
    height: auto;
    float: left;
    margin-right: 15px;
}

.news-list .news-item .text {
    overflow: hidden;
}

.news-list .news-item .text .title {
    font-size: 18px;
    height: 29px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-list .news-item .meta {
    margin: 0 0 5px;
}

/* Producs */
.products .pr-big-c,
.products .pr-list {
    width: calc((100% - 30px) / 2);
    float: left;
    margin: 0 30px 0 0;
}

.pr-big-c img {
    width: 100%;
    min-height: 335px;
}

.products .pr-list {
   margin-right: 0;  
}

.products .pr-list .pr-list-item {
    float: left;
    width: calc((100% - 30px) / 2);
    margin: 0 30px 30px 0px;
    position: relative;
    min-width: 151px;
    overflow: hidden;
}

.products .pr-list .pr-list-item:nth-child(even) {
    margin-right: 0;
}

.products .pr-list .pr-list-item .text {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
}

.products .pr-list .pr-list-item .text::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
}

.products .pr-list .pr-list-item .text,
.products .pr-list .pr-list-item .text a {
    color: #fff;
    text-decoration: none;
}

.products .pr-list .pr-list-item .text h3 {
    margin-top: 40px;
    font-size: 18px;
    margin-bottom: 5px;
}

.products .pr-list .pr-list-item .text .readmore {
    margin: 5px 0 0 ;
    color: #eb4035;
}

.products .pr-list .pr-list-item:hover > .text,
.products .pr-list .pr-list-item:hover > .text::after {
    opacity: 1;
    visibility: visible;
}

.products .pr-list .pr-list-item:hover > .text::after {
    opacity: .8;
}

/* News */
.news-image {
    float: right;
    width: 40%;
    min-height: 430px;
}

.news-image img {
    min-height: 430px;
}

.news-wrap .news-cont .icon {
    left: 36px;
}

.news-wrap .news-cont .title-wrap {
    text-align: right;
}

/* 
--------------------------------
FOOTER
--------------------------------
*/
footer#hc--footer {
    background-color: #2D2F32;
    color: #fff;
    padding: 60px 0 40px;
}

.footer-info,
.footer-socials {
    color: #fff;
    width: calc((100% - 30px) /2);
    margin-right: 30px;
    float: left;
}

.footer-info .phone {
    font-size: 30px;
    margin-bottom: 15px;
}

.footer-socials {
    margin-right: 0;
}